.uk-container.uk-container-center

  %h1.uk-text-center 受付内容確認カード

  = form_tag check_cards_path(format: :pdf) do
    .uk-form.uk-form-horizontal
      .uk-form-row
        %label.uk-form-label.uk-text-right お名前
        .uk-form-controls
          = text_field_tag :name, '西 園子', class: 'uk-form-width-large'
      .uk-form-row
        %label.uk-form-label.uk-text-right ふりがな
        .uk-form-controls
          = text_field_tag :pronouncement, 'にし そのこ', class: 'uk-form-width-large'
      .uk-form-row
        %label.uk-form-label.uk-text-right 性別
        .uk-form-controls
          = text_field_tag :gender, '女', class: 'uk-form-width-large'
      .uk-form-row
        %label.uk-form-label.uk-text-right 学年
        .uk-form-controls
          = text_field_tag :grade, '小１', class: 'uk-form-width-large'
      .uk-form-row
        %label.uk-form-label.uk-text-right 郵便番号
        .uk-form-controls
          = text_field_tag :zip, '160-0001', class: 'uk-form-width-large'
      .uk-form-row
        %label.uk-form-label.uk-text-right 住所１
        .uk-form-controls
          = text_field_tag :address1, '東京都台東区 0-0-0', class: 'uk-form-width-large'
      .uk-form-row
        %label.uk-form-label.uk-text-right 住所２
        .uk-form-controls
          = text_field_tag :address2, 'HSビル８階', class: 'uk-form-width-large'
      .uk-form-row
        %label.uk-form-label.uk-text-right 電話番号
        .uk-form-controls
          = text_field_tag :phone, '012-4567-8901', class: 'uk-form-width-large'
      .uk-form-row
        %label.uk-form-label.uk-text-right 教室
        .uk-form-controls
          = text_field_tag :classroom, '1-04', class: 'uk-form-width-large'
      .uk-form-row
        %label.uk-form-label.uk-text-right 体験学習日時
        .uk-form-controls
          = text_field_tag :datetime, '2012/05/19(土) 10:00', class: 'uk-form-width-large'
      .uk-form-row.uk-text-center
        %button.uk-button.uk-button-primary
          PDF

  %hr
  .uk-text-center
    = link_to 'repository (GitHub)', 'https://github.com/mattsan/check-card-rails', class: 'mk-button', type: 'button'
